<style type="text/css">
.div_center{
	margin-left:auto;
	margin-right:auto;
	width:90%;
}
.div_play{
	border: 1px solid #666;
	display:table-column;
	float:left;
	width:480px;
	height:380px;
}
</style>
<!--704*576,480*380,352*288-->
<script type="text/javascript" src="/static/jwplayer/jwplayer.js"></script>
<script type="text/javascript" src="/static/jwplayer/jwplayer.html5.js"></script>
{{template "header.html" .}}
{{template "nav.html" .}}
<script type="text/javascript" language="javascript">
	function rtmpplayer(obj,rtmp) { 
		//alert(rtmp);
		obj.load([{
			file: rtmp,
			image: ''
		}]);
	}
</script>

<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-3 span3">
                <label>窗口1选择视频</label>
                	<select name="ck1" id="ck1" onchange="rtmpplayer(objplayer1,$(this).val())">
                    {{range $k,$v := .Parent}}
						{{range $k1,$v1 := $v.Sources}}
							<option value="{{$v1.Rtmp}}">{{$v1.Name}}</option>
                        {{end}}
                    {{end}}
                </select>
				</div>
				<div class="col-xs-3 span3">
                <label>窗口2选择视频</label>
                	<select name="ck2" id="ck2" onchange="rtmpplayer(objplayer2,$(this).val())">
                    {{range $k,$v := .Parent}}
						{{range $k1,$v1 := $v.Sources}}
							<option value="{{$v1.Rtmp}}">{{$v1.Name}}</option>
                        {{end}}
                    {{end}}
                </select>
				</div>
				<div class="col-xs-3 span3">
                <label>窗口3选择视频</label>
                	<select name="ck3" id="ck3" onchange="rtmpplayer(objplayer3,$(this).val())">
                    {{range $k,$v := .Parent}}
						{{range $k1,$v1 := $v.Sources}}
							<option value="{{$v1.Rtmp}}">{{$v1.Name}}</option>
                        {{end}}
                    {{end}}
                </select>
				</div>
				<div class="col-xs-3 span3">
                <label>窗口4选择视频</label>
                	<select name="ck4" id="ck4" onchange="rtmpplayer(objplayer4,$(this).val())">
                    {{range $k,$v := .Parent}}
						{{range $k1,$v1 := $v.Sources}}
							<option value="{{$v1.Rtmp}}">{{$v1.Name}}</option>
                        {{end}}
                    {{end}}
                </select>
				</div>
			</div>
  </div>
</div>

<div class="div_center">
					<div id="playerzmblbkjP1_wrapper" class="div_play">
                    <object name="playerzmblbkjP1" width="100%" height="100%" id="playerzmblbkjP1" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                        <param name="movie" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="src" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="AllowScriptAccess" value="always">
                    </object>
                    </div>

					<div id="playerzmblbkjP2_wrapper" class="div_play">
                    <object name="playerzmblbkjP2" width="100%" height="100%" id="playerzmblbkjP2"  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                        <param name="movie" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="src" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="AllowScriptAccess" value="always">
                    </object>
      				</div>

					<div id="playerzmblbkjP3_wrapper" class="div_play">
                    <object name="playerzmblbkjP3" width="100%" height="100%" id="playerzmblbkjP3" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                        <param name="movie" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="src" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="AllowScriptAccess" value="always">
                    </object>
                    </div>

					<div id="playerzmblbkjP4_wrapper" class="div_play">
                    <object name="playerzmblbkjP4" width="100%" height="100%" id="playerzmblbkjP4" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                        <param name="movie" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="src" value="/static/jwplayer/jwplayer.flash.swf">
                        <param name="AllowScriptAccess" value="always">
                    </object>
					</div>
</div>
<script type="text/javascript" language="javascript">
var objplayer1=jwplayer('playerzmblbkjP1').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a1.300y.com.cn/live/xy',
	image: '',
    //width:'485px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
var objplayer2=jwplayer('playerzmblbkjP2').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a1.300y.com.cn/live/xy',
	image: '',
    //width:'600px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
var objplayer3=jwplayer('playerzmblbkjP3').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a1.300y.com.cn/live/xy',
	image: '',
    //width:'600px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
var objplayer4=jwplayer('playerzmblbkjP4').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a1.300y.com.cn/live/xy',
	image: '',
    //width:'600px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
</script>
{{template "footer.html" .}}