</div><!--<div class="container-fluid">-->
<script>
var objplayer1=jwplayer('playerzmblbkjP1').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    //file:'rtmp://a.300y.com.cn/live/test',
	file:'rtmp:///',
	image: '',
    //width:'485px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
var objplayer2=jwplayer('playerzmblbkjP2').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a.300y.com.cn/live/test',
	image: '',
    //width:'600px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
var objplayer3=jwplayer('playerzmblbkjP3').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a.300y.com.cn/live/test',
	image: '',
    //width:'600px',
    //height:'490px',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    primary: jwplayer.utils.isChrome() ? "flash" : "html5",
    bufferlength:1,
    subscribe:true
});
var objplayer4=jwplayer('playerzmblbkjP4').setup({
    //playlist: [{image:'',file:'rtmp://121.196.228.145/live/t1'}],
    file:'rtmp://a.300y.com.cn/live/test',
	image: '',
    //width:'600px',
    //height:'490px',
	type:'rtmp',
    aspectratio:'16:9',
    autostart:true,
    controlbar:"none",
    browserzoom:'scale',
    fallback: 'false',
    wmode:'direct',
    quality:'high',
    stretching:'uniform',
    //primary: jwplayer.utils.isChrome() ? "flash" : "html5",
	primary: "flash",
    bufferlength:1,
    subscribe:true
});
</script>

</body>
</html>