<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="/static/css/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/static/css/jquery-ui"></script>
    <link href="/static/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/css/a.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{.Website}}</title>
</head>
<body>
<hr>
<div class="container-fluid">